@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button, input, select, textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * * * Restore the focus styles unset by the previous rule.
 * * */
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * * * Change the border, margin, and padding in all browsers (opinionated).
 * * */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * * * 1. Correct the text wrapping in Edge and IE.
 * * * 2. Correct the color inheritance from `fieldset` elements in IE.
 * * * 3. Remove the padding so developers are not caught out when they zero out
 * * *    `fieldset` elements in all browsers.
 * * */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * * * Remove the default vertical scrollbar in IE.
 * * */
textarea {
  overflow: auto;
}

/**
 * * * 1. Add the correct box sizing in IE 10-.
 * * * 2. Remove the padding in IE 10-.
 * * */
[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * * * Correct the cursor style of increment and decrement buttons in Chrome.
 * * */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * * * 1. Correct the odd appearance in Chrome and Safari.
 * * * 2. Correct the outline style in Safari.
 * * */
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * * * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 * * */
/**
 * * * Correct the text style of placeholders in Chrome, Edge, and Safari.
 * * */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * * * 1. Correct the inability to style clickable types in iOS and Safari.
 * * * 2. Change font properties to `inherit` in Safari.
 * * */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

section {
  position: relative;
  display: block;
}

*:focus, *:active {
  outline: none;
}

img {
  width: 100%;
  display: block;
}

body, html {
  position: relative;
  background: #ffffff;
  background-size: cover;
  font-size: 16px;
  font-family: "Quicksand", "Noto Sans TC", "微軟正黑體", "LiHei Pro Medium", Arial, Geneva, Verdana, sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  -webkit-text-size-adjust: none;
}

body.hidden {
  overflow: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select, textarea, input {
    font-size: 16px;
  }
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.desktop-show {
  display: inline-block;
}

@media screen and (max-width: 1150px) {
  .desktop-show {
    display: none;
  }
}
.mobile-show {
  display: none;
}

@media screen and (max-width: 1150px) {
  .mobile-show {
    display: inline-block;
  }
}
.desktop-d-show {
  display: block;
}

@media screen and (max-width: 1150px) {
  .desktop-d-show {
    display: none;
  }
}
.mobile-d-show {
  display: none;
}

@media screen and (max-width: 1150px) {
  .mobile-d-show {
    display: block;
  }
}
#navi-box {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -30px;
  opacity: 0;
  display: none;
  width: 768px;
  bottom: 0;
  z-index: 10000;
}
#navi-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/navi-bg.jpg) no-repeat 0 0;
  background-size: cover;
  opacity: 0.95;
  z-index: 1;
}
#navi-box .scroll {
  overflow-y: auto;
  height: 100%;
}
#navi-box .scroll-inner {
  padding: 90px 0;
}
#navi-box .navi {
  position: relative;
  z-index: 10;
  width: 405px;
  height: auto;
  margin: 0 auto;
}
#navi-box .navi a {
  display: block;
}

.download {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 768px;
  bottom: 0;
  z-index: 50;
}

.download-group {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 15px;
  font-size: 28px;
  letter-spacing: 0.1em;
  color: white;
  text-align: center;
  padding: 15px 40px;
  background-color: black;
}
.download-group h3 {
  margin: 0;
  line-height: 1;
}
.download-group span {
  font-size: 18px;
  line-height: 1;
}

.app-block {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-block li {
  position: relative;
  font-weight: 700;
  line-height: 1;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.app-block li:last-child {
  padding-right: 4.16667vh;
}
.app-block li:last-child:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 1px;
  height: 100%;
  background-color: white;
}

@media screen and (max-width: 1150px) {
  .app-block li:last-child {
    padding-right: 2.04082vw;
  }
}
.demo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 768px;
  height: auto;
  margin-left: -384px;
  z-index: 20;
  opacity: 0.5;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #fff;
}
#loading .loading-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 219px;
}

#load-imgs {
  overflow: hidden;
  height: 0;
}

.all-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: url(../images/all-bg.gif) no-repeat center bottom;
  background-size: cover;
}

#wrapper {
  width: 768px;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.16);
  zoom: 0.8203125;
  position: relative;
  z-index: 20;
  overflow: hidden;
  background-color: #fff;
  min-height: 100vh;
}

@media screen and (max-width: 1150px) {
  #wrapper {
    zoom: 1;
  }
}
.kv-hand {
  position: absolute;
  top: 214px;
  left: 352px;
  width: 42px;
  z-index: 20;
}
.kv-hand img {
  animation: handAnimation 0.3s ease infinite alternate;
}

@keyframes handAnimation {
  to {
    transform: translateY(-10px);
  }
}
.kv-joystick {
  position: absolute;
  top: 283px;
  left: 312px;
  width: 110px;
  height: 244px;
  background: url(../images/kv-joystick.png) no-repeat 0 0;
  z-index: 10;
}
.kv-joystick.animated {
  animation: joystick 1s steps(24, end) backwards;
}

@keyframes joystick {
  to {
    background-position-y: -5856px;
  }
}
.kv-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.kv-award {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 326px;
  height: 100px;
  background: url(../images/kv-award.png) no-repeat 0 0;
  z-index: 10;
}
.kv-award.animated {
  animation: award 2s steps(34, end) forwards infinite;
}

@keyframes award {
  to {
    background-position-y: -3400px;
  }
}
.kv-obj1 {
  position: absolute;
  top: -193px;
  left: 0;
  width: 219px;
  z-index: 20;
}
.kv-obj1 img {
  animation: objAni 4s ease infinite;
  animation-delay: 2s;
}

.se1-obj1 {
  position: absolute;
  top: 44px;
  left: -40px;
  width: 94px;
}
.se1-obj1 img {
  animation: objAni 4s ease infinite;
  animation-delay: 1s;
}

.se1-obj2 {
  position: absolute;
  top: 217px;
  right: 22px;
  width: 144px;
}
.se1-obj2 img {
  animation: objAni 4s ease infinite;
}

.se2-obj1 {
  position: absolute;
  top: -93px;
  left: 0;
  width: 137px;
  z-index: 20;
}
.se2-obj1 img {
  animation: objAni 4s ease infinite;
}

.se2-obj2 {
  position: absolute;
  top: 617px;
  left: 570px;
  width: 183px;
  z-index: 20;
}
.se2-obj2 img {
  animation: objAni 4s ease infinite;
  animation-delay: 2.5s;
}

.se2-obj3 {
  position: absolute;
  top: 2610px;
  left: 0;
  width: 223px;
  z-index: 20;
}
.se2-obj3 img {
  animation: objAni 4s ease infinite;
}

.se2-obj4 {
  position: absolute;
  top: 1547px;
  right: 0;
  width: 161px;
}
.se2-obj4 img {
  animation: objAni 4s ease infinite;
  animation-delay: 2s;
}

.se2-obj5 {
  position: absolute;
  top: 2077px;
  left: 0;
  width: 85px;
}
.se2-obj5 img {
  animation: objAni 4s ease infinite;
}

@keyframes objAni {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
@keyframes bgScale {
  to {
    transform: scale(1.02);
    filter: saturate(200%);
  }
}
#kv {
  position: relative;
  width: 100%;
  height: 902px;
  background-color: black;
  z-index: 2;
}
#kv::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
  background: url(../images/kv-bg.jpg) no-repeat center top;
  background-size: cover;
  animation: bgScale 1s ease infinite alternate;
}
#kv::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 167px;
  content: "";
  background: url(../images/se1-top-bg.png) no-repeat 0 0;
  background-size: contain;
}

.kv-machine {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 435px;
  transform-origin: bottom center;
}

.kv-title {
  position: absolute;
  top: 52px;
  left: 100px;
  width: 593px;
  height: 267px;
  z-index: 20;
}
.kv-title img {
  display: block;
  animation: peopleAni 1s 2s ease infinite alternate;
}

@keyframes peopleAni {
  0%, 25%, 100% {
    transform: scale(1) translateY(0);
  }
  20%, 35% {
    transform: scale(1.02) translateY(-5px);
    filter: saturate(120%);
  }
}
.logo {
  position: absolute;
  top: 25px;
  left: 0;
  width: 161px;
}

.inner {
  width: 668px;
  margin: 0 auto;
  position: relative;
}

#se1 {
  position: relative;
  width: 100%;
  z-index: 10;
  background: #fff9f0 url(../images/se1-bg-bottom.png) no-repeat center bottom;
  background-size: 100% auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
#se1 .se-title {
  width: 395px;
  margin: 0 auto;
}
#se1 .infor {
  color: #1e1e1e;
  font-size: 35px;
  line-height: 1.5;
  margin-bottom: 15px;
}
#se1 .infor ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
#se1 .infor ol .num {
  position: absolute;
  top: 0;
  left: 0;
}
#se1 .infor ol li {
  position: relative;
  padding-left: 50px;
}
#se1 .title {
  position: relative;
  margin-bottom: 20px;
}
#se1 .title h2 {
  display: inline-block;
  margin: 0;
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.2;
  position: relative;
  z-index: 20;
}
#se1 .title h2::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -50px;
  bottom: -5px;
  right: -5px;
  background-color: #4a9c2d;
  z-index: -1;
}

.btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
}

.btn img {
  transition: all 0.5s ease-in;
}
.btn:hover img {
  transform: translateY(-10px);
  filter: saturate(200%);
}

.reward {
  text-align: center;
  margin-bottom: 30px;
}
.reward img {
  display: inline-block;
  max-width: 100%;
  width: auto;
}
.reward p {
  margin: 0;
}

#se2 {
  position: relative;
  background: url(../images/se2-bg1.jpg) no-repeat center top, url(../images/se2-bg2.jpg) no-repeat center bottom;
  background-color: #172b34;
  padding-top: 60px;
  padding-bottom: 150px;
}
#se2 .game1 + .line {
  margin-right: 160px;
  max-width: 370px;
}
#se2 .game4 + .line {
  margin-left: 210px;
  max-width: 370px;
}
#se2 .se-title {
  max-width: 617px;
  margin: 0 auto 40px;
}
#se2 .game-group {
  color: white;
  font-size: 35px;
  line-height: 1.6;
  text-align: center;
}
#se2 .game-group b {
  color: #ff6c1c;
}
#se2 .game-group .btn {
  max-width: 319px;
  margin: 0 auto;
}
#se2 .game-group .game-infor {
  padding: 0 10px;
}
#se2 .line {
  max-width: 513px;
  width: 100%;
  height: 6px;
  border-radius: 6px;
  background-color: #576064;
  margin: 100px auto;
}
#se2 .game1 .game-title, #se2 .game2 .game-title, #se2 .game3 .game-title {
  max-width: 358px;
  margin: 0 auto;
}
#se2 .game4 .game-title {
  max-width: 411px;
  margin: 0 auto;
}
#se2 .game-slide--item {
  padding: 0 20px;
}
#se2 .game-slide--item a {
  display: block;
  border-radius: 30px;
  background-color: #fff;
}
#se2 .game-slide--item img {
  max-width: 100%;
  width: auto;
}

#shop-slide {
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 50px;
}

.slick-prev {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 0;
  width: 45px;
  height: 90px;
  background: url(../images/se2-arrow-prev.png) no-repeat 0 0;
  border: none;
  font-size: 0;
}

.slick-next {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  right: 0;
  width: 45px;
  height: 90px;
  background: url(../images/se2-arrow-next.png) no-repeat 0 0;
  border: none;
  font-size: 0;
}

.faq .se-title {
  text-align: center;
}
.faq .se-title img {
  max-width: 100%;
  width: auto;
  display: inline-block;
}

.faq-group {
  position: relative;
  margin-bottom: 60px;
  color: white;
  font-size: 35px;
  line-height: 1.5;
  padding-left: 85px;
}
.faq-group .num {
  position: absolute;
  top: 50%;
  left: -5px;
  width: 58px;
  text-align: center;
  transform: translateY(-50%);
}
.faq-group .num img {
  display: inline-block;
  max-width: 100%;
  width: auto;
}
.faq-group h2 {
  color: #ffbf25;
  font-size: 35px;
  margin: 0;
}
.faq-group b {
  color: #49d7ff;
  font-weight: normal;
  display: block;
}
.faq-group b.color-red {
  color: #ff00fc;
}
.faq-group b.color-red a {
  color: #ff00fc;
  text-decoration: none;
}
.faq-group p {
  margin: 0;
}
.faq-group a {
  color: white;
  text-decoration: underline;
}

.back-top {
  text-align: center;
}
.back-top img {
  max-width: 100%;
  width: auto;
  display: inline-block;
}

.btn.modal {
  display: block;
}

.modal-close {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 51px;
}

.rule {
  position: relative;
  width: 700px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
}
.rule h3 {
  color: #4a9c2d;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
.rule p, .rule h4, .rule ol {
  color: #242424;
  font-size: 20px;
  line-height: 1.66;
  margin: 0;
}
.rule .group {
  margin-bottom: 30px;
}
.rule a {
  color: #24afff;
  text-decoration: underline;
}

@media screen and (max-width: 1150px) {
  .rule p, .rule h4, .rule ol {
    font-size: 26px;
  }
}
ol.inner-ol {
  list-style: outside;
}

.modal {
  display: none;
}

.download {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 768px;
  bottom: 0;
  z-index: 50;
}

.download-group {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 15px;
  font-size: 28px;
  letter-spacing: 0.1em;
  color: white;
  text-align: center;
  padding: 15px 40px;
  background-color: black;
}
.download-group h3 {
  margin: 0;
  line-height: 1;
}
.download-group span {
  font-size: 18px;
  line-height: 1;
}

.app-block {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-block li {
  position: relative;
  font-weight: 700;
  line-height: 1;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.app-block li:last-child {
  padding-right: 4.16667vh;
}
.app-block li:last-child:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 1px;
  height: 100%;
  background-color: white;
}

@media screen and (max-width: 1150px) {
  .app-block li:last-child {
    padding-right: 2.04082vw;
  }
}