@import _reset

img
  width: 100%
  display: block

body, html
  position: relative
  background: #ffffff
  background-size: cover
  font-size: 16px
  font-family: "Quicksand", "Noto Sans TC", "微軟正黑體", "LiHei Pro Medium", Arial, Geneva, Verdana, sans-serif !important
  font-weight: 400
  font-size: 16px
  -webkit-text-size-adjust: none

body.hidden
  overflow: hidden

@media screen and (-webkit-min-device-pixel-ratio: 0)
  select, textarea, input
    font-size: 16px

.clearfix:after
  content: ""
  display: block
  clear: both


html.lock-body
  overflow: hidden

.desktop-show
  display: inline-block

@media screen and (max-width: 1150px)
  .desktop-show
    display: none

.mobile-show
  display: none

@media screen and (max-width: 1150px)
  .mobile-show
    display: inline-block

.desktop-d-show
  display: block

@media screen and (max-width: 1150px)
  .desktop-d-show
    display: none

.mobile-d-show
  display: none

@media screen and (max-width: 1150px)
  .mobile-d-show
    display: block

#navi-box
  position: fixed
  top: 0
  left: 50%
  transform: translateX(-50%)
  margin-left: -30px
  opacity: 0
  display: none
  width: 768px
  bottom: 0
  z-index: 10000

  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url(../images/navi-bg.jpg) no-repeat 0 0
    background-size: cover
    opacity: 0.95
    z-index: 1

  .scroll
    overflow-y: auto
    height: 100%

  .scroll-inner
    padding: 90px 0

  .navi
    position: relative
    z-index: 10
    width: 405px
    height: auto
    margin: 0 auto

    a
      display: block

.download
  position: fixed
  left: 50%
  transform: translateX(-50%)
  width: 768px
  bottom: 0
  z-index: 50

.download-group
  display: grid
  grid-template-columns: 40% 60%
  column-gap: 15px
  font-size: 28px
  letter-spacing: 0.1em
  color: white
  text-align: center
  padding: 15px 40px
  background-color: black

  h3
    margin: 0
    line-height: 1

  span
    font-size: 18px
    line-height: 1

.app-block
  display: flex
  flex-direction: row
  list-style: none
  width: 100%
  margin: 0
  padding: 0
  box-sizing: border-box

  li
    position: relative
    font-weight: 700
    line-height: 1
    padding: 0 10px
    display: flex
    align-items: center

    &:last-child
      padding-right: 4.16667vh

      &:after
        content: ""
        position: absolute
        left: 0
        top: 50%
        transform: translate(0, -50%)
        width: 1px
        height: 100%
        background-color: white

@media screen and (max-width: 1150px)
  .app-block li:last-child
    padding-right: 2.04082vw

.demo
  position: absolute
  top: 0
  left: 50%
  width: 768px
  height: auto
  margin-left: -384px
  z-index: 20
  opacity: 0.5

#loading
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 999999
  background-color: #fff

  .loading-center
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-100%)
    width: 219px

#load-imgs
  overflow: hidden
  height: 0

.all-bg
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  z-index: 1
  background: url(../images/all-bg.gif) no-repeat center bottom
  background-size: cover


.menu-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  bottom: 0
  z-index: 2000
  background: rgba(black, .8)
  display: none
  opacity: 0


.menu
  position: fixed
  top: 0
  left: 50%
  margin-left: -384px
  width: 768px
  bottom: 0
  z-index: 3000
  display: none
  opacity: 0

  &.animation
    .menu-centent a
      transform: translateX(0)
      opacity: 1
  

  .menu-centent
    padding-top: 50px
    padding-bottom: 100px

  .btn-menu-close
    float: right
    margin-right: 30px
    margin-top: 30px
    width: 71px

  .scroll
    overflow-y: scroll
    width: 100%
    height: 100%
    overflow-x: hidden

  .menu-centent a
    display: block
    background: url(../images/navis.png) no-repeat
    transform: translateX(-100px)
    transition: all .5s ease
    height: 125px
    width: 663px
    margin-left: auto
    margin-right: auto
    margin-bottom: 20px
    opacity: 0

    &.menu1
      background-position: 0 0
      transition-delay: .4s

    &.menu2
      background-position: 0 -139px
      transition-delay: .5s
    
    &.menu3
      background-position: 0 -279px
      transition-delay: .6s

    &.menu4
      background-position: 0 -421px
      transition-delay: .7s

    &.menu5
      background-position: 0 -560px
      transition-delay: .8s

    &.menu6
      background-position: 0 -700px
      transition-delay: .9s

#wrapper
  width: 768px
  height: auto
  margin: 0 auto
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.16)
  zoom: 0.8203125
  position: relative
  z-index: 20
  overflow: hidden
  background-color: #fff
  min-height: 100vh
  padding-bottom: 90px

@media screen and (max-width: 1150px)
  #wrapper
    zoom: 1

@keyframes objAni
  0%, 100%
    transform: translateY(0)

  50%
    transform: translateY(30px) scale(.92)

@keyframes bgScale
  to
    transform: scale(1.02)
    filter: saturate(120%)

@keyframes BGMove
  to
    transform: translateY(-10px)
    filter: saturate(120%)


@keyframes peopleAni
  0%, 25%, 100%
    transform: scale(1) translateY(0)

  20%, 35%
    transform: scale(1.02) translateY(-5px)
    filter: saturate(120%)

.logo
  position: absolute
  top: 26px
  left: 0
  width: 264px
  z-index: 200

.btn-menu
  position: fixed
  top: 23px
  left: 50%
  margin-left: 287px
  width: 64px
  z-index: 200

.btn.modal
  display: block

.modal-close
  position: absolute
  top: -20px
  right: -20px
  width: 51px


.links
  font-size: 18px
  text-align: center

.rule
  position: relative
  width: 700px
  margin: 0 auto
  padding: 30px
  box-sizing: border-box
  background-color: #fff

  h3
    color: #4a9c2d
    font-size: 38px
    font-weight: 600
    line-height: 1.5
    text-align: center

  p, h4, ol
    color: #242424
    font-size: 20px
    line-height: 1.66
    margin: 0

  .group
    margin-bottom: 30px

  a
    color: #24afff
    text-decoration: underline

@media screen and (max-width: 1150px)
  .rule
    p, h4, ol
      font-size: 26px

ol.inner-ol
  list-style: outside

.modal
  display: none

.download
  position: fixed
  left: 50%
  transform: translateX(-50%)
  width: 768px
  bottom: 0
  z-index: 50

.download-group
  display: grid
  grid-template-columns: 40% 60%
  column-gap: 15px
  font-size: 28px
  letter-spacing: 0.1em
  color: white
  text-align: center
  padding: 15px 40px
  background-color: black

  h3
    margin: 0
    line-height: 1

  span
    font-size: 18px
    line-height: 1

.app-block
  display: flex
  flex-direction: row
  list-style: none
  width: 100%
  margin: 0
  padding: 0
  box-sizing: border-box

  li
    position: relative
    font-weight: 700
    line-height: 1
    padding: 0 10px
    display: flex
    align-items: center

    &:last-child
      padding-right: 4.16667vh

      &:after
        content: ""
        position: absolute
        left: 0
        top: 50%
        transform: translate(0, -50%)
        width: 1px
        height: 100%
        background-color: white

@media screen and (max-width: 1150px)
  .app-block li:last-child
    padding-right: 2.04082vw



.topic-box
  position: relative
  background-color: #fff7e9
  padding-bottom: 30px

  .inner
    padding-left: 33px
    padding-right: 33px
    position: relative
    width: auto


  &.backtop
    padding-bottom: 150px


  p
    color: #1e1e1e
    font-size: 33px
    line-height: 1.6

  h2
    display: block

    img
      width: auto
      display: inline-block

#topic-1
  padding-top: 33px
  background:#fff7e9 url(../images/topic-bg1.gif) no-repeat center 180px

  img.pic
    display: block
    position: relative
    margin-left: 3px
    width: auto
    margin-bottom: 10px


#topic-2
  padding-top: 33px
  background:#fff7e9 url(../images/topic-bg2.gif) no-repeat center 180px

  img.pic
    display: block
    position: relative
    margin-left: -33px
    width: auto
    margin-bottom: 10px


#topic-3
  padding-top: 33px
  background:#fff7e9 url(../images/topic-bg3.gif) no-repeat center 250px

#topic-4
  padding-top: 33px
  background:#fff7e9 url(../images/topic-bg4.gif) no-repeat center 100px

  h2
    text-align: right

.back-top
  width: 115px
  margin: 0 auto

  img
    animation: move 1s ease infinite alternate



@keyframes move
  0%
    transform: translateY(0)
    
  100%
    transform: translateY(10px)
    


#kv
  position: relative
  width: 100%
  height: 807px
  background: url(../images/kv-bg.gif) no-repeat center top


.kv-slogan
  position: absolute
  top: 66px
  left: 36px
  width: 686px

  img
    animation: peopleAni 1s ease alternate infinite

.kv-bebe
  position: absolute
  top: 476px
  left: 221px
  width: 257px
  z-index: 10
  img
    animation: objAni 2s ease alternate infinite

.kv-gift
  position: absolute
  top: 647px
  left: 510px
  width: 91px
  


.btn-topic
  position: fixed
  top: 451px
  left: 50%
  margin-left: 186px
  width: 188px
  z-index: 200


.kv-box1
  position: absolute
  top: 370px
  right: 14px
  width: 80px

.kv-box2
  position: absolute
  top: 352px
  left: 0
  width: 289px


.kv-border-top
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 14px
  background: #ffb737

.kv-border-left
  position: absolute
  top: 0
  left: 0
  width: 14px
  height: 100%
  background: #ffb737

.kv-border-right
  position: absolute
  top: 0
  right: 0
  width: 14px
  height: 100%
  background: #ffb737


.kv-money1
  position: absolute
  top: 350px
  left: -30px
  width: 115px

  img
    animation: bgScale 2s ease alternate infinite

.kv-money2
  position: absolute
  top: 350px
  left: 38px
  width: 115px

  img
    animation: bgScale 2s ease alternate infinite

.kv-money3
  position: absolute
  top: 350px
  left: 38px
  width: 115px

  img
    animation: bgScale 2s ease alternate infinite
    animation-delay: .2s

.kv-money4
  position: absolute
  top: 240px
  left: 653px
  width: 115px

.kv-money5
  position: absolute
  top: 240px
  left: 653px
  width: 115px

.kv-money6
  position: absolute
  top: 350px
  left: 565px
  width: 115px
  img
    animation: bgScale 2s ease alternate infinite
    animation-delay: .4s

.kv-money7
  position: absolute
  top: 350px
  left: 500px
  width: 115px
  img
    animation: bgScale 2s ease alternate infinite

.kv-money8
  position: absolute
  top: 350px
  left: 432px
  width: 115px
  transform: rotate(-10deg)

.kv-money9
  position: absolute
  top: 363px
  left: 362px
  width: 114px
  z-index: 10
  img
    animation: bgScale 2s ease alternate infinite


#se1
  background: #2c8fe3 url(../images/se1-footer-bg.gif) no-repeat center bottom
  min-height: 1110px

  .title
    width: 768px
    margin: 0 auto

.se1-navis
  &::after
    content: ""
    display: block
    clear: both

  a
    display: block
    float: left
    height: 110px
    background: url(../images/se1-navi.png) no-repeat 0 0

    &.link1
      width: 245px
      background-position: 0 0
      &:hover,&.active
        background: url(../images/se1-navi-hover.png) no-repeat 0 0

    &.link2
      width: 230px
      background-position: -248px 0
      &:hover,&.active
        background: url(../images/se1-navi-hover.png) no-repeat -248px 0

    &.link3
      width: 293px
      background-position: -477px 0
      &:hover,&.active
        background: url(../images/se1-navi-hover.png) no-repeat -477px 0
  

.slide-group
  width: 713px
  height: 574px
  position: relative
  background: url(../images/se1-box.png) no-repeat 0 0
  position: relative
  margin: 0 auto 50px

  .content
    padding-left: 75px
    padding-right: 75px
    padding-top: 75px

  .btn
    position: absolute
    bottom: -50px
    left: 50%
    margin-left: -172px
    width: 344px
    height: auto


.se1-bebe
  position: absolute
  bottom: -14px
  right: 0
  width: 264px
  pointer-events: none


.se1-obj
  position: absolute
  bottom: 215px
  left: -30px
  width: 105px
  z-index: 30
  pointer-events: none

.se1-slides
  font-size: 31px
  color: #2c2a25

  img
    display: inline-block
    max-width: 100%
    width: auto

  .img
    text-align: center

  b
    color: #0d88f1

  strong
    color: #0d88f1
    font-size: 48px

  ol
    padding-top: 0
    margin: 0
    list-style: disc

  .inner
    padding-left: 45px

  p
    margin: 0
    

  p.center
    text-align: center

  p.mb20
    margin-bottom: 20px

  .line
    width: 100%
    height: 1px
    background-color: #000
    margin: 10px 0



.section
  overflow: hidden




#se2
  background: #fbd73e url(../images/se2-footer-bg.gif) no-repeat center bottom
  min-height: 1117px
  padding-top: 30px
  box-sizing: border-box

  .title
    width: 755px

.se2-navis
  &::after
    content: ""
    display: block
    clear: both

  a
    display: block
    float: left
    height: 110px
    background: url(../images/se2-navi.png) no-repeat 0 0

    &.link1
      width: 213px
      background-position: 0 0
      &:hover,&.active
        background: url(../images/se2-navi-hover.png) no-repeat 0 0

    &.link2
      width: 348px
      background-position: -213px 0
      &:hover,&.active
        background: url(../images/se2-navi-hover.png) no-repeat -213px 0

    &.link3
      width: 207px
      background-position: -562px 0
      &:hover,&.active
        background: url(../images/se2-navi-hover.png) no-repeat -562px 0



.se2-bebe
  position: absolute
  bottom: -10px
  left: 10px
  width: 264px
  pointer-events: none


.se2-obj
  position: absolute
  bottom: 110px
  right: 10px
  width: 131px
  z-index: 30
  pointer-events: none

.se2-slides
  font-size: 31px
  color: #2c2a25

  img
    display: inline-block
    max-width: 100%
    width: auto

  .img
    text-align: center

  b
    color: #ff8400

  strong
    color: #ff8400
    font-size: 48px

  ol
    padding-top: 0
    margin: 0
    list-style: disc

  p
    margin: 0
    line-height: 1.2
    

  p.center
    text-align: center

  p.mb20
    margin-bottom: 20px

  p.mb30
    margin-bottom: 30px

  .line
    width: 100%
    height: 1px
    background-color: #000
    margin: 10px 0


  .percent
    max-width: 290px
    margin: 0 auto
    color: #2c2a25
    small
      font-size: 39px
      line-height: 1.5
      text-align: justify-all
      display: block

    .left
      font-size: 35px
      line-height: 1.2
      min-width: 70px
    
    .right
      color: #ff8400
      font-size: 100px
      font-weight: bold
      line-height: 1

    .row
      display: grid
      grid-template-columns: 1fr 1fr
      align-items: center




#se3
  background: #1db34b url(../images/se3-footer-bg.jpg) no-repeat center bottom
  min-height: 1114px
  padding-top: 30px
  box-sizing: border-box

  .title
    width: 755px

.se3-navis
  &::after
    content: ""
    display: block
    clear: both

  a
    display: block
    float: left
    height: 110px
    background: url(../images/se3-navi.png) no-repeat 0 0

    &.link1
      width: 236px
      background-position: 0 0
      &:hover,&.active
        background: url(../images/se3-navi-hover.png) no-repeat 0 0

    &.link2
      width: 168px
      background-position: -226px 0
      &:hover,&.active
        background: url(../images/se3-navi-hover.png) no-repeat -226px 0

    &.link3
      width: 170px
      background-position: -392px 0
      &:hover,&.active
        background: url(../images/se3-navi-hover.png) no-repeat -392px 0

    &.link4
      width: 166px
      background-position: -562px 0
      &:hover,&.active
        background: url(../images/se3-navi-hover.png) no-repeat -562px 0



.se3-bebe
  position: absolute
  bottom: -14px
  right: 0
  width: 417px
  pointer-events: none


.se3-obj1
  position: absolute
  top: 460px
  right: 0
  width: 107px
  z-index: 30
  pointer-events: none

.se3-obj2
  position: absolute
  top: 630px
  left: 0
  width: 85px
  z-index: 30
  pointer-events: none

.se3-slides
  font-size: 31px
  color: #2c2a25

  img
    display: inline-block
    max-width: 100%
    width: auto

  .img
    text-align: center

  b
    color: #337239
    font-size: 40px

  strong
    color: #337239
    font-size: 40px

  ol
    padding-top: 0
    margin: 0
    list-style: disc

  p
    margin: 0
    line-height: 1.2
    

  p.center
    text-align: center

  p.mb20
    margin-bottom: 20px

  p.mb30
    margin-bottom: 30px

  .line
    width: 100%
    border-bottom: dashed 3px #1db34b
    margin: 20px 0 15px




#se4
  background: #ff8758 url(../images/se4-footer-bg.jpg) no-repeat center bottom
  min-height: 1114px
  padding-top: 30px
  box-sizing: border-box

  .title
    width: 100%
    margin-bottom: 5px

.se4-navis
  &::after
    content: ""
    display: block
    clear: both

  a
    display: block
    float: left
    height: 148px
    background: url(../images/se4-navi.png) no-repeat 0 0

    &.link1
      width: 206px
      background-position: 0 0
      &:hover,&.active
        background: url(../images/se4-navi-hover.png) no-repeat 0 0

    &.link2
      width: 140px
      background-position: -206px 0
      &:hover,&.active
        background: url(../images/se4-navi-hover.png) no-repeat -206px 0

    &.link3
      width: 200px
      background-position: -355px 0
      &:hover,&.active
        background: url(../images/se4-navi-hover.png) no-repeat -355px 0

    &.link4
      width: 222px
      background-position: -552px 0
      &:hover,&.active
        background: url(../images/se4-navi-hover.png) no-repeat -552px 0



.se4-bebe
  position: absolute
  bottom: -14px
  left: 0
  width: 283px
  pointer-events: none


.se4-obj1
  position: absolute
  top: 370px
  left: 20px
  width: 107px
  z-index: 30
  pointer-events: none

.se4-obj2
  position: absolute
  top: 858px
  right: 20px
  width: 123px
  z-index: 30
  pointer-events: none

.se4-slides
  font-size: 30px
  line-height: 1.5
  color: #2c2a25

  img
    display: inline-block
    max-width: 100%
    width: auto

  .img
    text-align: center

  b
    color: #ff5b1b
    font-size: 33px

  strong
    color: #ff5b1b
    font-size: 40px

  ol
    padding-top: 0
    margin: 0
    list-style: disc
    line-height: 1.2

  p
    margin: 0
    line-height: 1.5
    

  p.center
    text-align: center

  p.mb20
    margin-bottom: 20px

  p.mb30
    margin-bottom: 30px

  .line
    width: 100%
    border-bottom: dashed 3px #1db34b
    margin: 20px 0 15px



#se5
  background: #f7403c url(../images/se5-bg.jpg) no-repeat center bottom
  padding-top: 20px
  padding-bottom: 200px

  .title
    width: 100%
  
  .txt
    color: #ffffff
    font-size: 36px
    line-height: 1.5
    text-align: center
    margin-bottom: 22px

    b
      color: #fdd867
      font-size: 35px

    small
      font-size: 28px

  p
    margin: 0


.se5-btn
  width: 344px
  margin: 0 auto 100px

.se5-pages
  text-align: center
  margin: 30px 0

  a
    display: inline-block
    margin: 0 10px
    opacity: .5

    &:hover,&.active
      opacity: 1

.se5-obj1
  position: absolute
  top: 750px
  right: 50px
  width: 124px
  z-index: 10
  pointer-events: none

.se5-bebe
  position: absolute
  bottom: 0
  right: 15px
  width: 335px
  z-index: 10
  pointer-events: none

.se5-slides
  .bank
    width: 726px
    margin: 0 auto 25px



#se6
  position: relative
  padding-bottom: 910px
  padding-top: 50px
  background: #fff7e9 url(../images/se6-bg.jpg) no-repeat center bottom

  .title
    width: 590px
    margin: 0 auto 30px

  .txt
    padding-left: 34px
    padding-right: 34px
    color: #2c2a25

    h3
      font-size: 38px
      line-height: 1.5
      margin: 0
      margin-bottom: 20px

    p
      font-size: 31px
      line-height: 1.5
      margin: 0
      margin-bottom: 20px


    .btn-more
      width: 344px
      margin: 0 auto

  .back-top
    position: absolute
    bottom: 88px
    left: 50%
    margin-left: -57.5px
    width: 115px

.se6-money
  position: absolute
  bottom: 261px
  left: 0
  width: 768px
  img
    animation: BGMove 2s ease alternate infinite

.se6-bebe
  position: absolute
  bottom: 322px
  left: 242px
  width: 191px

  img
    animation: se6Move 1s ease alternate infinite

.se6-box
  position: absolute
  bottom: 516px
  left: 302px
  width: 108px
  img
    animation: se6Move2 1s ease alternate infinite


@keyframes se6Move
  0%,100%
    transform: translateY(0)
    
  20%
    transform: translateY(30px) scale(1.01)
    
@keyframes se6Move2
  0%,100%
    transform: translateY(0)
    
  30%
    transform: translateY(-30px)
    

.table
  font-size: 18px
  line-height: 1.5
  color: #333
  border: 1px solid #c5c5c5
  border-bottom: none
  margin: 20px 0

  &.list
    .row:nth-child(1)
      display: block
      .col:nth-child(1)
        text-align: center
        max-width: 100%
        
    .col:nth-child(1)
      text-align: center
      max-width: 30px

    .col:nth-child(2)
      text-align: center
      max-width: 150px
      text-align: left

    .col:nth-child(4)
      text-align: center
      max-width: 100px
      text-align: left

  ol
    font-size: 18px

  .row
    display: flex
    align-items: center
    border-bottom: 1px solid #c5c5c5
    &:nth-child(1):not(.no-th)
      background-color: #ececec
      font-weight: bold

  .col
    flex: 1
    padding: 5px
    
    &:nth-child(1)
      text-align: center

    
  